{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load widget_tweaks {% templatetag closeblock %}

{% templatetag openblock %} block page_title {% templatetag closeblock %}Reset Password{% templatetag openblock %} endblock page_title {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<form class="form-horizontal" role="form" method="post">
    {% templatetag openblock %} csrf_token {% templatetag closeblock %}
    <div class="form-group {% templatetag openvariable %} form.new_password1.errors|yesno:"has-error," {% templatetag closevariable %}">
        <label for="inputDays" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-4">
            {% templatetag openblock %} render_field form.new_password1 class="form-control" {% templatetag closeblock %}
            <span class="help-block">{% templatetag openvariable %} form.new_password1.errors {% templatetag closevariable %}</span>
        </div>
    </div>

    <div class="form-group {% templatetag openvariable %} form.new_password2.errors|yesno:"has-error," {% templatetag closevariable %}">
        <label for="inputDays" class="col-lg-2 control-label">Password confirmation</label>

        <div class="col-lg-4">
            {% templatetag openblock %} render_field form.new_password2 class="form-control" {% templatetag closeblock %}
            <span class="help-block">{% templatetag openvariable %} form.new_password2.errors {% templatetag closevariable %}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

{% templatetag openblock %} endblock content {% templatetag closeblock %}
